<%- include("partials/header") %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">

	</head>
	<body>
		<%- include("partials/navbar") %>
		<div id="main" class="container">
			<div class="jumbotron">
				<h1 id="text">Something's Wrong Here.....</h1>
				<h3 id="text">We can't find the Page you are looking for. Try going back to the Home Page....</h3>
				<center id="home"><a href="/home"><button type="button" class="btn btn-outline-info btn-lg" >Go To Home!</button></a></center>
				
			</div>
		</div>	
<%- include("partials/footer") %>