<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
	<%- include("partials/navbar") %>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<img src="/stylesheets/homepic.jpg">
			</div> 
			<div class="col-lg-6 col-sm-12">	
				<div id="intro">
					<h1> WELCOME </h1>
					<h2> I'm </h2>
					<h1 id="name"> Dhruv Anand</h1>
					<h3> |Python Developer|Full Stack Developer|</h3>
					<h4> |Data Science and Machine Learning Enthusiast|</h4>
				</div>
			</div>
		</div>
	<%- include("partials/footer") %>
