<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/resume.css">
	</head>
<body>
	<%- include("partials/navbar") %>
	<div class="container">
		<div class="jumbotron">
			<h3 id="edu">EDUCATION</h3>
			<div class="container">
				<table id="stats">
					<tr>
						<th>Course/Examination</th>
						<th>Instituition/University</th>
						<th>Year Of Passing</th>
						<th>Performance</th>
					</tr>
					<tr>
						<td>B.Tech.</td>
						<td>Bhagwan Parshuram Institute Of Technology(GGSIPU)</td>
						<td>Pursuing(2017-2021)</td>
						<td>74.5%</td>
					</tr>
					<tr>
						<td>AISSCE (Non-Medical)</td>
						<td>HansRaj Model School (New Delhi)</td>
						<td>2017</td>
						<td>79.25%</td>
					</tr>
					<tr>
						<td>AISSE</td>
						<td>HansRaj Model School (New Delhi)</td>
						<td>2015</td>
						<td>9.8 CGPA</td>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<div class="jumbotron">	
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<h4 id="skill">SKILLS</h4>
					<ul id="skill-list" style="list-style: none;">
						<li style="margin-top: 20px"><i class="fab fa-python fa-lg"></i>  Python</li>
						<li><i class="fab fa-cuttlefish fa-lg"></i><i class="fas fa-plus fa-xs"></i><i class="fas fa-plus fa-xs"style="padding-right: 4px"></i>  C++</li>
						<li><i class="fab fa-cuttlefish fa-lg"></i>  C-Progrramming</li>
						<li><i class="fab fa-html5 fa-lg"></i>  HTML5</li>
						<li><i class="fab fa-css3-alt fa-lg"></i>  CSS3</li>
						<li><i class="fab fa-bootstrap fa-lg"></i>  BootStrap</li>
						<li><i class="fab fa-js fa-lg"></i>  JavaScript</li>
						<li><i class="fab fa-node-js fa-lg"></i>  NodeJS</li>
						<li><i class="fa fa-database fa-lg"></i>  MongoDB</li>
						<li><i class="fa fa-lock fa-lg"></i>  Passport(Data Authentication)</li>
						<li><i class="fas fa-atom fa-lg"></i>  Data Science & Machine Learning</li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-12">
					<h4 id="projects" style="margin-bottom: 20px">PROJECTS</h4>
					<p id="info">BlackJack in Python with Graphics Interface</p>																			
					<p id="desc">Developed the game of Black Jack in python using GUI by writing code to implement the rules of Black Jack and adding cards in Graphic form to make it user-friendly.</p>
					<p id="info">Data Analysis using Data Science (Python)</p> 
					<p id="desc">Explored the concepts of Numpy, Pandas for data exploration & analysis and Matplotlib, Seaborn for data visualization. Performed   					multiple exercises on complex data sets to gather valuable insights.</p>
					<p id="info">Multi-way Locking System</p> 
					<p id="desc">Designed and implemented a multi-locking system using Embedded System Technology during summer training (Arduino, RFID,  						Bluetooth, Servos, etc.)</p>
					<p id="info">Portfolio Website</p>
					<p id="desc">Developed this website using HTML5, CSS3, Bootstrap, JavaScript, NodeJS, as a part of my WebDeveloper Bootcamp course</p>
				</div>
			</div>
		</div>	
			<br>
		<div class="jumbotron">	
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<h4 id="extra-curricular">EXTRA-CURRICULAR</h4>
					
						<p id="info1"> CORE TEAM MEMBER | ENTERPUERSHIP CELL(BPIT)| 2017- PRESENT</p>																	
						<p>
							<ul id="extra-list">
								<li id="desc">Organised E-week that was attended by 1000+ students from Delhi-NCR</li>
								<li id="desc">Acted as a liaison with over 20 companies to secure corporate sponsorship, raised over 2,00,000 in cash & kind for 	   	E-week</li>
							</ul>
						</p>
					
					
						<p id="info1"> CORE TEAM MEMBER | ANNUAL TECHNO CULTURAL FEST | 2018</p>													
						<p>
							<ul id="extra-list">
								<li id="desc">As part of the core team, we were able to conduct the college’s annual fest, conducted fest and contributed in formulating the content for public speaking competitions.</li>
							</ul>
						</p>
					
					
						<p id="info1"> VOLUNTEER</p> 																				
						<p id="desc">
							<ul id="extra-list">
								<li id="desc"> Conducted social initiative project for Human Values and Professional Ethics.</li>
								<li id="desc"> Accomplished a two day workshop as part of the Rotaract Club by visiting the adopted slum areas.</li>
							</ul>
						</p>
					
				</div>	
				<div class="col-lg-6 col-sm-12">
					<h4 id="activity">Other Interests & Activities</h4>
					<ul id="activity-list">
						<li id="desc"> Keen of Learning Cyber Security and Ethical Hacking.</li>
						<li id="desc"> Computer Skills: Adept in Microsoft Excel, Word, PowerPoint, Turbo C++.</li>
						<li id="desc"> Participated in drama and theatre in school.</li>
						<li id="desc"> Cooking </li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
	 <center><i class="fas fa-file-pdf" ></i><button id="resume-download"type="button"class="btn btn-success btn-lg" ><a id="resume-link" href="/stylesheets/DhruvAnand.pdf" download="DhruvAnand" >Resume - PDF</a></button></center>  
<%- include("partials/footer") %>ml>